<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>
    <div class="container">
      <% include ../partials/header %>

      <div class="row">
        <% include ../partials/nav %>

        <% include ../partials/search %>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <img class="map" src="./images/map.png" alt="Map">
        </div>

        <% include ../partials/cities %>

      </div>
    </div>

    <% include ../partials/script %>
  </body>
</html>
