<div class="row">
  <div class="col-12 header">
    <a href="/">
      <i class="fas fa-sun logo-header" aria-hidden="true"></i>
    </a>
    <h1 class="title-header">Weather App</h1>
  </div>
</div>
