<div class="col-12 nav-custom">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
      Welcome, <%= user.username %>
    </span>
    <a href="/users/logout" class="btn btn-outline-danger mb-2">Logout</a>
  </nav>
</div>
