<div class="col-sm-12 offset-lg-6 col-lg-6 container-search">
  <form class="form-inline" action="/add-city" method="POST">
    <h5 class="title-search">City</h5>
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control-lg input-search" placeholder="Paris, Bordeaux..." name="inputSearch" value="">
    </div>
    <button type="submit" class="btn btn-primary mb-2 btn-search">Save</button>
  </form>
</div>
