body {
  padding: 0;
}

h6 {
  font-size: 14px;
  margin: 0px;
}

.container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F6F7FB;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 50%;
  padding: 15px;
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  background-color: #FFFFFF;
}

#count {
  font-weight: 600;
  margin-left: 10px;
}

.input {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #DFDFDF;
  border-radius: 20px;
}

.input-search {
  width: 50%;
  margin: 0 10px;
}

.btn {
  padding: 5px 10px;
  background-color: transparent;
  color: #28B9B5;
  border: 1px solid #28B9B5;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #28B9B5;
  border-radius: 5px;
  color: #fff;
}

.btn:focus,
.input:focus {
  outline: none;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.content {
  width: 444px;
}

.trash {
  width: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.last-row {
  border-bottom: 1px solid #DFDFDF;
}

.new-last-row {
  border-top: none;
  border-bottom: 1px solid #DFDFDF;
}
